.search__block {
    margin: 0 auto;
    width: 1000px;
    padding-top: 50px;
}
.search__input {
    width: 100%;
}
.input {
    width: 100%;
    padding: 5px 0;
    border-bottom: 0.5px solid #ccc;
}
.input:focus {
    border-bottom: 2px solid #673ab7;
    content: '';
}
h1 {
    font-size: 24px;
    margin-bottom: 15px;
}
.form {
    width: 100%;
}